/* Временные стили добавлять здесь */
.title{
    color: #0F172A;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.mb-1{
    color: #64748B;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;

}

.text-rg{
    color: #0F172A;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}